<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="pathToArchive" value="\\seckga.local\roots\KGA\UAI\Обмены\КЗРиЗ\2020\From\"/>
   <!-- <add key="pathToArchive" value="D:\temp"/>-->
    <add key="maskOfArchive" value="all_twn;cl_cod;rgis.xml"/>
    <add key="pathToSave" value="D:\temp\result\"/>
    <!--  <add key="LastFileInfo" value="1238"/>-->
  </appSettings>
</configuration>